[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
robotframework = "*"
RESTinstance = "*"
robotframework-dependencylibrary = "*"
robotframework-jsonlibrary = "*"
robotframework-jsonschemalibrary = "*"
robotframework-mockserver = "*"

[packages]
flask = "==1.0.2"
pycurl = "*"
requests = "*"
pyaml = "*"
uwsgi = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pytest = "*"
jsonschema = "*"
prance = "*"
openapi-spec-validator = "*"
apscheduler = "==3.6.3"

[requires]
python_version = "3.6"
